name: pontaj_admin
description: "Pontaj Admin - Flutter application for managing Pontaj system"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^1.2.0
  provider: ^6.0.0
  shared_preferences: ^2.2.0
  fl_chart: ^0.63.0
  intl: ^0.20.2
  share_plus: ^10.1.2
  path_provider: ^2.1.5
  flutter_svg: ^2.0.10

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/
